/target/
/server/ao-server
/server/logs/*.log
/server/charfile/*.chr
/server/Accounts/*.act
/server/guilds/Bancos/
*.log
client/.godot/
client/build/
dist/
*.import

# .NET / C# build artifacts
**/bin/
**/obj/
*.dll
*.pdb
*.cache
